$color-banner: lime;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.music-player-area {
  width: 100%;
  //   border: 1px solid white;
  min-height: 80vh;
  display: none;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.play-area {
  //   border: 1px solid yellow;
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  color: $color-banner;
  background-color: black;
}
.image-container {
  width: 100%;
  display: flex;
}
.song-image {
  //   border: 1px solid green;
  min-height: 65vh;
  width: 100%;
  //   align-self: center;
  background-image: url(../images/music1.jpg);
  background-size: cover;
}

.volume-slider {
  align-self: flex-end;
  display: none;
  position: absolute;
  left: 85vh;
  margin-bottom: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -webkit-appearance: slider-vertical;
  background-color: grey;
  min-height: 40vh;
  border-radius: 5%;
  transform: translateY(100%);
  transition: transform ease-out 0.5s;
}
.volume-slider::-moz-range-progress {
  background-color: $color-banner;
}
.volume-slider::-webkit-slider-progress {
  background-color: $color-banner;
}
.volume-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;

  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: grey;
  border: 0.2px solid #010101;
  border-radius: 10px;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #fffefe;
  height: 2vh;
  width: 2vh;
  border-radius: 1vh;
  background: $color-banner;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 2vh;
  height: 2vh;
  background: $color-banner;
  cursor: pointer;
}
.show {
  transform: translateY(0);
  display: flex;
}
.mobile-playlist-area {
  display: none;
}

.play-buttons {
  //   border: 1px solid blue;
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.play-buttons span {
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    font-size: 3rem;
  }
}
.play-buttons span:nth-child(3) {
  font-size: 4rem;
  &:hover {
    font-size: 5rem;
  }
}
.volume-bar {
  z-index: 1;
}
.playlist-area {
  border-left: 1px solid rgb(241, 239, 239);
  color: green;
  width: 50%;
  display: flex;
  overflow-y: scroll;
  height: 80vh;
  &::-webkit-scrollbar {
    width: 2vh;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    min-width: 2vh;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-banner;
    border-radius: 10px;
    height: 100px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    min-width: 3vh;
    border: 1px solid white;
  }
}

#playlist-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  width: 95%;
  margin-left: 2vh;
  li {
    display: flex;
    align-items: center;
    background-color: black;

    border-radius: 3%;
    width: 100%;
    min-height: 8vh;
    padding-left: 3vh;
    margin-top: 1vh;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 1px 3px rgb(255, 255, 255), 0 1px 2px rgb(250, 248, 248);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(243, 236, 236, 0.822),
        0 10px 10px rgba(238, 231, 231, 0.767);
      font-size: 1.1rem;
    }
  }
}
#playlist-ul .active-music {
  border-left: 3px solid $color-banner;
  border-top: 3px solid $color-banner;
}

.show-image {
  display: none;
}

.progressbar-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.progress-container {
  min-width: 90%;
  background-color: grey;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
}
.progress {
  width: 0%;

  background: $color-banner;
  transition: all 0.6s ease;
  position: relative;
}
.drag-button {
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  background-color: rgb(10, 51, 4);
}

.playlist-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    font-size: 3rem;
  }
  margin-left: 0.5rem;
}

@media screen and (max-width: $breakpoint-tablet) {
  .playlist-area {
    display: none;
  }
  .play-area {
    width: 100%;
  }
  .play-buttons {
    font-size: 1rem;
  }
  .playlist-icon {
    display: flex;
  }
}
@media screen and (max-width: $breakpoint-mobile) {
  .play-buttons {
    min-height: 8vh;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    span {
      font-size: 1.5rem;
      &:hover {
        font-size: 2rem;
      }
    }
    span:nth-child(3) {
      font-size: 2.5rem;
      &:hover {
        font-size: 3rem;
      }
    }
  }
  .song-image {
    min-height: 65vh;
  }
  .footer {
    margin-top: 1.5rem;
    min-height: 5vh;
    span {
      font-size: 0.8rem;
    }
  }

  .progressbar-area {
    max-width: 85%;
    justify-content: space-around;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .progressbar-area .playlist-icon {
    margin-left: 1rem;
  }
  .progress-container {
    border-radius: 1rem;
    max-height: 1.5vh;
  }
  .drag-button {
    height: 0.5rem;
    width: 1rem;
  }
  .volume-slider {
    left: 40vh;
    background-color: black;
  }
  .mobile-playlist-area {
    border-left: 1px solid rgb(241, 239, 239);
    color: green;
    width: 97%;
    display: none;
    overflow-y: scroll;
    height: 66vh;
    padding-top: 1rem;
    &::-webkit-scrollbar {
      width: 2vh;
      display: none;
    }
  }
  #mobile-playlist-ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    width: 96%;
    margin-left: 3vh;
    li {
      display: flex;
      align-items: center;
      background-color: black;
      // border: 1px solid blanchedalmond;
      border-radius: 3%;
      width: 100%;
      min-height: 8vh;
      padding-left: 3vh;
      margin-bottom: 1vh;
      font-size: 0.9rem;
      font-weight: bold;
      box-shadow: 0 1px 3px rgb(255, 255, 255), 0 1px 2px rgb(250, 248, 248);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      &:hover {
        box-shadow: 0 14px 28px rgba(243, 236, 236, 0.822),
          0 10px 10px rgba(238, 231, 231, 0.767);
        font-size: 1rem;
      }
    }
  }

  #mobile-playlist-ul .active-music {
    border-left: 3px solid $color-banner;
    border-top: 3px solid $color-banner;
  }

  .show-mobile-playlist-area {
    display: flex;
  }
}
